/* =Buttons
===================================================== */

// Buttons
//
// Button variations and usage examples.
//
// :hover - Hover state
// :focus - Focus state
// .button--primary   - Primary button example
// .button--primary:hover   - Primary button hover example
// .button--primary:focus   - Primary button focus example
// .button--secondary - Secondary button example
// .button--secondary:hover - Secondary button hover example
// .button--secondary:focus - Secondary button focus example
// .button--invert    - Invert button example
// .button--invert:hover    - Invert button hover example
// .button--invert:focus    - Invert button focus example
// .button--inactive  - Inactive button example
//
// Markup:
// <a class="button {{modifier_class}}" href="#">Button</a>
// <input class="{{modifier_class}}" type="button" value="Input Button">
// <input class="{{modifier_class}}" type="submit" value="Input Submit">
//
// Style guide: 6.buttons

.button,
#{$all-buttons} {

  /* Positioning */
  position: relative;

  /* Box-model */
  display: inline-block;
  padding: rem(7) rem(16);

  /* Typography */
  font-size: ms(0);
  line-height: ms(2);
  text-align: center;
  color: $color-text;
  font-family: $font-brand-secondary;
  text-decoration: none;

  /* Visual */
  background-color: $color-button-regular;
  background-image: none;
  border-radius: $border-radius-small;
  border: 2px solid $color-text;

  /* Misc */
  cursor: pointer;
  transition: all .1s ease;

  &:hover,
  &:focus,
  &:active {

    color: $color-button-invert;
    background-color: $color-button-primary;
    text-decoration: none;

  }

  @include breakpoint(medium) {

    font-size: ms(0);
    line-height: ms(2);

  }

  &.button--primary {

    // color: $color-button-invert;
    // background-color: $color-button-primary;
    //
    // &:hover,
    // &:focus,
    // &:active {
    //
    //   color: $color-button-invert;
    //   background-color: $color-button-primary-hover;
    //
    // }

  }

  &.button--secondary {

    color: $color-button-invert;
    background-color: $color-button-secondary;

    &:hover,
    &:focus,
    &:active {

      color: $color-button-invert;
      background-color: $color-button-secondary-hover;

    }

  }

  &.button--invert {

    color: $color-button-invert;
    background-color: $color-button-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-button-invert;
      background-color: $color-button-primary-hover;

    }

  }

  &.button--inactive {

    color: $color-text-weak;
    background-color: $color-button-inactive;
    border-color: $color-text-weak;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {

      color: $color-text-weak;
      background-color: $color-button-inactive;

    }

  }

}
