/* =Tickets
===================================================== */

// Realistic Tickets CSS

.ticket-prefix {
  @media (min-width: 600px) {
    margin-bottom: 0;
    margin-right: 20rem;
    text-align: left;
  }
}

.realistic-ticket {
    display: inline-block;
    min-width: 280px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    font-family: Bree Serif, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-5deg);

    @media (min-width: 600px) {
        position: absolute;
        bottom: -60px;
        right: 0;
        margin-top: -20px;
    }

    @media (min-width: 48em) {
        transform: rotate(-15deg);

        &:focus, &:hover {
          transform: scale(1.1) rotate(-16deg);
        }
    }

    .realistic-ticket__part-left, .realistic-ticket__part-right {
        position: relative;
        float: left;
        padding: 10px;
        height: 140px;
        background-image: url(https://2019.europe.wordcamp.org/files/2018/10/ticket-3.png);
        background-repeat: no-repeat;
        background-size: 460px 140px;
        transition: all .15s ease;
    }

    .realistic-ticket__part-left {
        width: 180px;
        background-position: 0 0;
        transform-origin: 100% 100%;
    }

    .realistic-ticket__part-right {
        width: 100px;
        border-left: 10px dotted #e8f5f6;
        margin-left: -2px;
        background-position: 100% 0;
        transform-origin: 0 100%;
    }

    .realistic-ticket__info-action, .realistic-ticket__info-label, .realistic-ticket__info-event {
        padding: 15px;
        transition: all .15s ease;
    }

    .realistic-ticket__info-action, .realistic-ticket__info-label {
        position: absolute;
        left: 0;
        right: 0;
        font-family: Lato, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        color: hsla(0,0%,100%,.9);
    }

    .realistic-ticket__info-label {
        top: 0;
        bottom: 50%;
    }

    .realistic-ticket__info-action {
        top: 50%;
        bottom: 0;
    }

    .realistic-ticket__info-event {
        position: absolute;
        top: 100%;
        left: 0;
        font-weight: 300;
        width: 140px;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        color: rgba(0,0,0,.9);
    }

}

// Tickets
//
// Table for buying tickets
//
// Markup: tickets.html
//
// Style guide: 6.tickets

#tix {

  @include clearfix();

  input[type="submit"] {}

}

/*
 * Tickets table
 */

.tix_tickets_table {

  border-top: 2px solid $color-border-strong;
  border-bottom: 2px solid $color-border-strong;
  margin-bottom: $unit-default;

  thead {

    th {

      color: $color-text;

    }

  }

  tbody {}

  th,
  td {

    border-color: $color-border-weak;

    &:first-child {

      padding-left: 0;

    }

    &:last-child {

      padding-right: 0;

    }

  }

  .tix-ticket-title {

    display: block;
    font-size: ms(1);
    color: $color-text-strong;

    + br {

      display: none;

    }

  }

  .tix-ticket-excerpt {

    display: block;
    margin-top: rem(4);
    color: $color-text;

  }

  .tix-column-description {}

  .tix-column-price,
  .tix-column-remaining,
  .tix-column-quantity {

    font-weight: $bold;

  }

  .tix-row-coupon {}

}

/*
 * Coupons
 */

.tix-coupon-link {}

#tix-coupon-container {

  position: relative;
  padding-right: rem(160);

  input[type="text"] {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }

  input[type="submit"] {

    position: absolute;
    top: 0;
    right: 0;
    width: rem(160);

    padding: rem(7) rem(10);

    color: $color-text-strong-invert;
    background-color: $color-button-secondary;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }

}

/*
 * Tickets table on mobile
 *
 * Collapse columns to rows
 */

@include breakpoint(to-medium) {

  .tix_tickets_table {

    thead {

      tr {

        display: none;

      }

    }

    tbody {

      .tix-column-description {

        display: block;
        width: 100%;

      }

      .tix-column-price,
      .tix-column-remaining,
      .tix-column-quantity {

        display: block;
        float: left;

      }

      .tix-column-price {

        padding-top: rem(16);
        padding-bottom: rem(16);
        padding-left: 0;
        line-height: em(24,16);
        width: 30%;

      }

      .tix-column-remaining {

        padding-top: rem(16);
        padding-bottom: rem(16);
        line-height: em(24,16);
        width: 30%;

      }

      .tix-column-quantity {

        width: 40%;

      }

    }

  }

}
