/* =Subscribe widget
===================================================== */

// Widget: Subscribe
//
// Subscribe jetpack widget
//
// Markup: widget-subscribe.html
//
// Style guide: 6.widget.subscribe

.jetpack_subscription_widget {

  text-align: center;

  &:before {

    background-color: $color-brand-quaternary;
    border-top: 6px double $color-border-normal;
    border-bottom: 6px double $color-border-normal;

  }

  .widget-title {

    color: $color-text-strong-invert;
    font-size: ms(2);
  }

  p {

    margin: 0;
    color: rgba(255,255,255,.8);

  }

  input[type="email"] {

    width: 100%!important; // Override jetpack CSS

  }

  input[type="submit"] {

    width: 100%;

    @extend .button;

  }

  #subscribe-text {

    margin-bottom: $unit-m;

  }

  #subscribe-email,
  #subscribe-submit {

    display: inline-block;
    width: rem(200);
    margin: rem(4);
    vertical-align: top;

  }

  #subscribe-email {

    @include breakpoint(small) {

      width: rem(400);

    }

  }

  #subscribe-submit {

  }

}
