/* =Schedule
===================================================== */

// Schedule
//
// Schedule table
//
// Markup: schedule.html
//
// Style guide: 6.schedule

.wcpt-schedule {

  box-shadow: $box-shadow-medium;
  margin-bottom: $unit-default;
  background-color: #fff;
  width: 93vw;
	transform: translateX(calc((50rem - 100vw)/2));

  td,
  th {

    vertical-align: top;
    border-color: $color-border-weak;

  }

  .wcpt-col-time,
  .wcpt-col-track {

    border-top: none;
    background-color: $color-brand-secondary;
    color: $color-text-strong;

  }

  .global-session td {

    vertical-align: middle;
    // border-top: none;

  }

  // .global-session + tr td {

  //   border-top: none;

  // }


  /* Head */
  .wcpt-col-time {

    width: 10%;

  }

  .wcpt-col-track {

    width: 22.5%;

  }

  .wcpt-schedule td {}

  .wcpt-time {

    font-size: ms(0);
    line-height: ms(1);
    font-weight: $bold;
    font-family: $font-brand-primary;
    color: $color-text-strong;

  }

  .wcpt-session-title {

    display: block;
    margin-bottom: $unit-xs;

    font-size: ms(1);
    line-height: ms(1);
    font-weight: $bold;

  }

  .global-session {

    &.registration,
    &.lunch,
    &.break,
    &.morning-break,
    &.afternoon-break {

      .wcpt-session-title {

        margin-bottom: 0;

        font-size: ms(2);
        line-height: ms(1);
        font-family: $font-brand-secondary;
        text-transform: uppercase;
        color: $color-text-strong;

      }

    }

  }

  .wcpt-session-speakers {

    display: block;

    a {

      color: $color-text;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline double;
      }

    }

  }

  .wcpt-session-empty {}

  .global-session {

    /* Target specifically */
    &.registration,
    &.lunch,
    &.break,
    &.morning-break,
    &.afternoon-break {

      background-color: $color-grey-20;

    }

  }

  /*
   * Compact schedule
   *
   * Visible on mobile
   */

  @include breakpoint(to-medium) {

    width: auto;
    transform: none;
    border: none;

    td,
    th {

      display: block;
      border-top: none;
      margin: 0;

    }

    thead {

      display: none;

    }

    tr {

      margin-bottom: $unit-s;
      display: block;
      border: rem(4) solid $color-brand-secondary;
      // border: 1px solid $color-border-normal;

    }

    .wcb-track-track-1:before,
    .wcb-track-track-2:before,
    .wcb-track-track-3:before,
    .wcb-track-lake-wheeler,
    .wcb-track-jordan-lake,
    .wcb-track-falls-lake,
    .wcb-track-lake-crabtree {

      display: block;
      padding: $unit-xs $unit-s;
      margin-top: -($unit-xs);
      margin-left: -($unit-s);
      margin-right: -($unit-s);
      margin-bottom: $unit-xs;
      border: none;

      color: $color-text-strong;
      font-weight: $bold;
      background-color: $color-brand-quaternary!important;


    }

    .wcb-track-track-1:before {

      content: "Track 1";

    }

    .wcb-track-track-2:before {

      content: "Track 2";

    }

    .wcb-track-track-3:before {

      content: "Track 3";

    }

    .wcb-track-lake-wheeler:before {

      content: "Lake Wheeler";

    }

    .wcb-track-jordan-lake:before {

      content: "Jordan Lake";

    }

    .wcb-track-falls-lake:before {

      content: "Falls Lake";

    }

    .wcb-track-lake-crabtree:before {

      content: "Lake Crabtree";

    }

    .wcpt-session-type-custom:before {

      display: none;
      content: "";

    }

    .wcpt-session-empty {

      display: none;
      height: 0;

    }

    .wcpt-time {

      padding-top: $unit-s;
      padding-bottom: $unit-s;

      color: $color-text-strong-invert;
      background-color: $color-brand-tertiary;

    }

    .wcpt-session-title {

      padding: 0;

    }

    .wcpt-session-speakers {

      padding-left: 0;

    }

  }

}

/*
 * Session labels
 *
 * Displaying labels for session groups
 */

$session-type-color-beginners:   $color-brand-quaternary;
$session-type-color-business:    #fda22b;
$session-type-color-content:     $color-brand-secondary;
$session-type-color-designers:   $color-brand-tertiary;
$session-type-color-developers:  $color-brand-primary;
$session-type-color-everyone:    #B4177A;
$session-type-color-power-users: #7E433A;

@mixin session-label($session-label, $session-color) {

  position: relative;
  padding-bottom: rem(40);

  @include breakpoint(to-medium) {

    padding-bottom: rem(48);

  }

  &:after {

    display: inline-block;
    padding: rem(1) rem(6);

    @if ($session-color == $color-brand-secondary or $session-color == "#fda22b") {
      color: $color-text-strong;
    } @else {
      color: $color-text-strong-invert;
    }

    background-color: $session-color;

    position: absolute;
    bottom: $unit-s;

    font-family: $font-brand-secondary;
    font-size: ms(0);
    line-height: ms(1);
    border-radius: 0;

    content: "#{$session-label}";

  }

}


// Development
.wcb-session-category-developers {

  @include session-label('Developers', $session-type-color-developers);

}

// Business
.wcb-session-category-business-owners {

  @include session-label('Business', $session-type-color-business);

}

// Everyone

.wcb-session-category-everyone {

  @include session-label('Everyone', $session-type-color-everyone);

}

// Design
.wcb-session-category-designers {

  @include session-label('Designers', $session-type-color-designers);

}

// Beginners
.wcb-session-category-beginners {
  @include session-label('Beginners', $session-type-color-beginners);
}

// Content
.wcb-session-category-content-creators {
  @include session-label('Content Creators', $session-type-color-content);
}

// Power Users
.wcb-session-category-power-users {
  @include session-label('Power Users', $session-type-color-power-users);
}

// @media (min-width: 47.9376em) {
// 	.wcpt-schedule {
// 		width: 93vw;
// 		left: 0;
// 		transform: translateX(calc((50rem - 100vw)/2));
// 	}
//
// 	.wcpt-schedule .wcpt-col-track {
// 		width: 22.5%;
// 	}
// }
//
// .key-audience-beginners, .key-audience-business, .key-audience-content, .key-audience-designers, .key-audience-developers, .key-audience-everyone, .key-audience-power-users {
// 	display: inline-block;
// 	height: 10px;
// 	width: 10px;
// 	transform: rotate(-9deg);
// }
//
// .key-audience-beginners, .wcb-session-category-beginners {
// 	background: #e91e63;
// }
//
// .key-audience-business, .wcb-session-category-business-owners {
// 	background: #fda22b;
// }
//
// .key-audience-content, .wcb-session-category-content-creators {
// 	background: #FDC83C;
// }
//
// .key-audience-designers, .wcb-session-category-designers {
// 	background: #5DD166;
// }
//
// .key-audience-developers, .wcb-session-category-developers {
// 	background: #31429C;
// }
//
// .key-audience-everyone, .wcb-session-category-everyone {
// 	background-color: #B4177A;
// }
//
// .key-audience-power-users, .wcb-session-category-power-users {
// 	background-color: #7E433A;
// }
