/* =Buttons
===================================================== */

// Buttons
//
// Button variations and usage examples.
//
// :hover - Hover state
// :focus - Focus state
// .button--primary   - Primary button example
// .button--primary:hover   - Primary button hover example
// .button--primary:focus   - Primary button focus example
// .button--secondary - Secondary button example
// .button--secondary:hover - Secondary button hover example
// .button--secondary:focus - Secondary button focus example
// .button--invert    - Invert button example
// .button--invert:hover    - Invert button hover example
// .button--invert:focus    - Invert button focus example
// .button--inactive  - Inactive button example
//
// Markup:
// <a class="button {{modifier_class}}" href="#">Button</a>
// <input class="{{modifier_class}}" type="button" value="Input Button">
// <input class="{{modifier_class}}" type="submit" value="Input Submit">
//
// Style guide: 6.buttons

.button,
.wp-block-button__link,
#{$all-buttons} {

  /* Positioning */
  position: relative;

  /* Box-model */
  display: inline-block;
  padding: rem(7) rem(16);
  border: 2px solid $color-button-regular;

  /* Typography */
  font-size: ms(0);
  line-height: ms(2);
  text-align: center;
  color: $color-text;
  font-family: $font-brand-primary;
  font-weight: $bold;
  text-decoration: none;

  /* Visual */
  background-color: $color-button-regular;
  border-radius: 0;
  border-color: transparent;

  /* Misc */
  cursor: pointer;
  transition: all .1s ease;

  &:hover,
  &:focus,
  &:active,
  &.pseudo-class-hover,
  &.pseudo-class-focus,
  &.pseudo-class-active {

    color: $color-text-strong;
    background-color: $color-button-regular-hover;
    text-decoration: underline;

    &::before {
      transform: rotate(-10deg);
    }

  }

  /* Decoration */
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  @include breakpoint(medium) {

    font-size: ms(0);
    line-height: ms(2);

  }

  &.button--primary, .wp-block-button__link {

    color: $color-text-strong-invert;
    background-color: $color-button-primary;
    border-color: $color-button-secondary;

    &:hover,
    &:focus,
    &:active,
    &.pseudo-class-hover,
    &.pseudo-class-focus,
    &.pseudo-class-active {

      color: $color-text-strong-invert;
      background-color: $color-button-primary-hover;

    }

    &::before {
      background-color: $color-button-secondary;
    }

  }

  &.button--secondary {

    color: $color-text;
    background-color: $color-button-secondary;
    border-color: $color-button-primary;

    &:hover,
    &:focus,
    &:active,
    &.pseudo-class-hover,
    &.pseudo-class-focus,
    &.pseudo-class-active {

      color: $color-text-strong;
      background-color: $color-button-secondary-hover;

    }

    &::before {
      background-color: $color-button-primary;
    }

  }

  &.button--invert {

    color: $color-text;
    background-color: $color-button-invert;
    border-color: $color-brand-quaternary;

    &:hover,
    &:focus,
    &:active,
    &.pseudo-class-hover,
    &.pseudo-class-focus,
    &.pseudo-class-active {

      color: $color-text-strong;
      background-color: $color-button-invert-hover;

    }

    &::before {
      background-color: $color-brand-quaternary;
    }

  }

  &.button--inactive {

    color: rgba(0,0,0,.3);
    background-color: $color-button-inactive;

    &:hover,
    &:focus,
    &:active,
    &.pseudo-class-hover,
    &.pseudo-class-focus,
    &.pseudo-class-active {

      color: rgba(0,0,0,.3);
      background-color: $color-button-inactive;
      text-decoration: none;
      cursor: not-allowed;

    }

  }

}
