/* =Sessions
===================================================== */

// Sessions
//
// Sessions list
//
// Markup: sessions.html
//
// Style guide: 6.sessions

.wcorg-sessions {


}

.wcorg-session {

  border-top: 1px solid $color-border-weak;
  padding: $unit-default 0;

  h2 {
    margin-bottom: 0;
  }

  .wcorg-session-description {

    @include clearfix();

  }

  .wcpt-session-meta {

    font-family: $font-brand-secondary;
    margin-bottom: $unit-m;

  }

  .avatar {

    float: left;
    margin: $unit-xs $unit-s $unit-xs 0;
    border: rem(2) solid $color-brand-primary;
    filter: sepia(1) saturate(0.4);
    @include transition-fast();

    &:hover {

      transform: scale(1.1);
      filter: sepia(0) saturate(1);

    }

  }

  p {

    margin-bottom: $unit-xs;

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}
