/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description.
//
// Markup: branding.html
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <header id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {

  background-color: $color-brand-tertiary;

}

.site-header .site-branding {

  position: relative; // Add position: relative to keep the light beams from leaking out
  overflow: hidden; // Add overflow: hidden to keep light beams from leaking out

  padding: 1rem 3rem 20rem;

  text-align: center;

  .home & {

    padding: 48% 0 0;

  }

}

.site-title {

  margin: 0;

  font-size: ms(2);
  line-height: 1;
  font-family: $font-headline;
  font-weight: $bold;
  color: $color-text-strong;

  a {

    overflow: hidden;
    text-indent: -100em;
    text-align: left;
    position: absolute;
    display: block;
    width: 570px;
    max-width: 50%;
    height: 380px;
    left: 50%;
    top: 40%;
    transform: translate3d(-50%,-30%,0);
    background-image: none;

    &::after {

      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url(https://2020.raleigh.wordcamp.org/files/2020/03/wcraleigh-2020-banner.png);
      background-size: 100%;
      content: "";

    }

    .home & {
    transform: translate3d(-50%,-50%,0);
    }

  }

}

.site-description {

  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: polygon(0 0,0 0,0 0,0 0);
  clip-path: polygon(0 0,0 0,0 0,0 0);
  position: absolute!important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;

}
