/* =Lists
===================================================== */

// Links
//
// Link examples
//
// :hover - Hover state
// :focus - Focus state
// :visited - Visited state
//
// Markup:
// <a href="#">Link example</a>
//
// Style guide: 4.links

a {

  color: $color-text;
  text-decoration: none;
  background-position-y: 100%;
  background-image: linear-gradient( transparent 50%, $color-brand-quaternary-light 50%);
  transition: background 500ms ease;
  background-size: 6px;
  background-size: auto 6px;
  background-repeat: no-repeat;

  @include transition-fast();

  &:hover, &:focus, &:active {

    background-size: auto 200%;

  }

  // &:visited {

    // color: shade($color-link, 50%);

  // }

}
