/* =Lists
===================================================== */

// Lists
//
// Style guide: 4.lists

ul,
ol,
dl {

  margin-bottom: $unit-default;

  ul,
  ol,
  dl {

    margin-bottom: 0;

  }

}

// Ordered
//
// List examples
//
// Markup:
// <ol>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
// </ol>
//
// Style guide: 4.lists.ordered

ol {
  list-style: none;
  counter-reset: custom-ol-counter;
  padding: 0;

  li {
    counter-increment: custom-ol-counter;

    &::before {
      content: "0" counter(custom-ol-counter);
      font-family: $font-headline;
      font-size: 3rem;
    }
  }
}

// Unordered
//
// List examples
//
// Markup:
// <ul>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
// </ul>
//
// Style guide: 4.lists.unordered

ul {
  list-style: none;
  padding: 0 0 0 1.5rem;

  li::before {
    content: "\06DE";
    color: $color-brand-quaternary;
    font-family: $helvetica;
    position: relative;
    top: 0.55rem;
    font-size: 0.85rem;
  }
}

/*
 * List items
 */

li {

  // @extend p;

  display: flex;
  margin-top: rem(4);
  margin-bottom: 0.5rem;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    color: $color-brand-primary;
    margin-right: 0.5rem;
    line-height: 1;
  }

}
