/* =Lists
===================================================== */

// Lists
//
// Style guide: 4.lists

ul,
ol,
dl {

  margin-bottom: $unit-default;

  ul,
  ol,
  dl {

    margin-bottom: 0;

  }

}

// Ordered
//
// List examples
//
// Markup:
// <ol>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
// </ol>
//
// Style guide: 4.lists.ordered

ol {
  counter-reset: li;
  list-style: none;

  li {
    position: relative;

    &::before {
      content: counter(li);
      counter-increment: li;

      position: absolute;
      left: -1.5rem;
      top: 0;
      font-size: 1.4em;
      color: $color-brand-quaternary;
      text-align: center;
      font-family: $font-headline;
    }
  }
}

// Unordered
//
// List examples
//
// Markup:
// <ul>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
//   <li>List item</li>
// </ul>
//
// Style guide: 4.lists.unordered

ul {

  li {
    position: relative;
    list-style: none;

    &::before {
      content: '\2666';
      position: absolute;
      left: -1.5rem;
      top: 0;
      font-size: 0.6em;
      color: $color-brand-quaternary;
    }
  }
}

/*
 * List items
 */

li {

  // @extend p;

  margin-top: rem(4);
  margin-bottom: 0;

  &:first-child {

    margin-top: 0;

  }

}
